<div class="comp-curtain-wrapper comp-curtain-wrapper__${data.model.state}" w-bind="./index" w-config="{model : data.model}">
	<div class="text-center"> 
		<a href="#" class="comp-curtain-state-toggle"><strong class="comp-curtain-state__${data.model.state}"></strong></a>
    	<div class="text-center">
			${data.model.name}
    	</div>
	</div>
	<comp-api-error model="data.model" />
	
</div>
